# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/
.vscode/
*.iml

# Android
/android/.gradle/
/android/app/build/
/android/.cxx/
/android/local.properties

# iOS
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/Flutter/Flutter.framework/
/ios/Flutter/App.framework/
/ios/Flutter/FlutterPluginRegistrant/
/ios/ServiceDefinitions.json

# 맥 macOS
.DS_Store

# 환경 변수 (개인 정보)
.env

